<nav class="navbar navbar-expand-lg navbar-light bg-light"
     xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <a class="navbar-brand" th:href="@{/}">RENTHUB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/advertisement}">Объявления</a>
            </li>
            <li class="nav-item" sec:authorize="hasAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/user}">Пользователи</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('MANAGER', 'BUYER', 'SELLER')">
                <a class="nav-link" th:href="@{/user/profile}">Профиль</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN')">
                <a class="nav-link" th:href="@{/user/profile/admin}">Профиль</a>
            </li>
            <li class="nav-item" sec:authorize="hasAnyAuthority('ADMIN', 'MANAGER')">
                <a class="nav-link" th:href="@{/advertisement/administrator}">Редактор объявлений</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto" sec:authorize="isAnonymous()">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Войти</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/registration}">Регистрация</a>
            </li>
        </ul>
        <div class="navbar-text mr-3 align-baseline">
            <a>Евро</a>
            <span th:text="${eur}"></span>
        </div>
        <div class="navbar-text mr-3 align-baseline">
            <a>Доллар</a>
            <span th:text="${usd}"></span>
        </div>
        <div class="navbar-text mr-3 align-baseline">
            <span sec:authentication="name"></span>
        </div>
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <button class="btn btn-primary" type="submit">Выйти</button>
        </form>
    </div>
</nav>