<form th:action="@{/promote_advertisement/{id}(id=${advertisement.getId()})}" method="post">
    <div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> На сколько дней хотите продлить объявление </label>
            <div class="col-sm-6">
                <label>
                    <input type="text" name="amountOfDays" class="form-control"/>
                </label>
            </div>
        </div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> На сколько позиций хотите поднять </label>
            <div class="col-sm-6">
                <label>
                    <input type="text" name="rank" class="form-control"/>
                </label>
            </div>
        </div>

        <button class="btn btn-primary" type="submit">Ок</button>
    </div>
</form>