<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="ru">
<th:block layout:fragment="content">
    <h3> Привет, <span sec:authentication="name"></span></h3>
    <br>
    <p>Ваш баланс: <span th:text="${user.getBalance()}"></span></p>
    <h3>Мои объявления</h3>
    <div>
        <a th:href="@{/advertisement/create}" type="button" class="btn btn-danger">Добавить объявление</a>
    </div>
    <div class="card-columns" th:object="${user}" th:each="estate : ${user.getEstateList()}"
         th:if="${#bools.isTrue(estate.getAdvertisement().getVisible())}">
        <div class="card my-3" style="width: 80rem;">
            <div class="m-2">
                <table class="table table-bordered" th:each="advertisement : ${estate.getAdvertisement()}">
                    <thead>
                    <tr>
                        <th>Город</th>
                        <th>Улица</th>
                        <th>Номер дома</th>
                        <th>Площадь кв. метров</th>
                        <th th:each="attribute : ${estate.getAttributes()}" th:text="${attribute.getName}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${estate.getCity}"></td>
                        <td th:text="${estate.getStreet}"></td>
                        <td th:text="${estate.getNumber}"></td>
                        <td th:text="${estate.getSquare}"></td>
                        <td th:each="value : ${estate.getAttributeValue}" th:text="${value.getName}"></td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/advertisement/seller/delete/} + ${estate.getAdvertisement().getId()}" method="post">
                    <button class="btn btn-primary" type="submit">Удалить объявление</button>
                </form>
                <form th:action="@{/promote_advertisement/} + ${estate.getAdvertisement().getId()}" method="post">
                    <div>
                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label>На сколько дней хотите продлить объявление
                                    <input type="text" name="amountOfDays" class="form-control"/>
                                </label>
                            </div>
                            <div class="col-sm-4">
                                <label>На сколько позиций хотите поднять
                                    <input type="text" name="rank" class="form-control"/>
                                </label>
                            </div>
                            <div class="col-sm-3">
                                <label>Стоимость продвижения составит 100 рублей
                                    в день на одну позицию</label>
                            </div>
                            <div class="col-sm-1 pt-3">
                                <button class="btn btn-primary" type="submit">Ок</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <h3>Избранное</h3>
    <div class="card-columns" th:each="wishlist : ${user.getWishlist()}">
        <div class="card my-3" style="width: 80rem;">
            <div class="m-2">
                <table class="table table-bordered" th:each="advertisement : ${wishlist.getAdvertisement()}">
                    <thead>
                    <tr>
                        <th>Город</th>
                        <th>Улица</th>
                        <th>Номер дома</th>
                        <th>Площадь кв. метров</th>
                        <th th:each="attribute : ${wishlist.getAttributes()}" th:text="${attribute.getName}"></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td th:text="${wishlist.getCity}"></td>
                        <td th:text="${wishlist.getStreet}"></td>
                        <td th:text="${wishlist.getNumber}"></td>
                        <td th:text="${wishlist.getSquare}"></td>
                        <td th:each="value : ${wishlist.getAttributeValue}" th:text="${value.getName}"></td>
                    </tr>
                    </tbody>
                </table>
                <form th:action="@{/advertisement/wishlist/delete/} + ${wishlist.getAdvertisement.getId}" method="post">
                    <button type="submit" class="btn btn-primary">Удалить из избранного</button>
                </form>
            </div>
        </div>
    </div>
</th:block>
</html>