<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<th:block layout:fragment="content">
    <div th:if="${usernameError}">Пользователь существует</div>
    <form th:action="@{/registration}" method="post">
        <div th:insert="~{fragments/login}"></div>

        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Password: </label>
            <div class="col-sm-6">
                <input type="text" name="password2" class="form-control" placeholder="Подтвердите пароль"
                       th:classappend="${user != null} ? 'is-invalid' : ''"/>
                <div class="invalid-feedback" th:if="${password2Error}">
                    Подтверждение пароля не может быть пустым
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label"> Email: </label>
            <div class="col-sm-6">
                <input type="text" name="email" class="form-control" placeholder="Email"
                       th:classappend="${user != null} ? 'is-invalid' : ''"
                       th:value="${user != null} ? ${user.getEmail()} : ''"/>
                <div class="invalid-feedback" th:if="${user != null}" th:object="${user}" th:field="*{email}">
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}">
                        Ошибка Email
                    </div>
                </div>
            </div>
        </div>
        <form action="?" method="POST">
            <div class="g-recaptcha" data-sitekey="6Lem_hgnAAAAAESw1URp-o_6NzxjfosvrJL--Fdo"></div>
            <br/>
            <input class="btn btn-primary" type="submit" value="Зарегистрироваться">
            <div class="alert alert-danger" role="alert" th:if="${captchaError}">Fill captcha</div>
        </form>
<!--        <button class="btn btn-primary" type="submit">Зарегистрироваться</button>-->
    </form>
</th:block>
</html>