<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="ru">
<th:block layout:fragment="body">
    Редактор пользователей
    <form action="/user" method="post">
        <label>
            <input type="text" name="username" th:value="${user.getUsername()}">
            <input type="hidden" name="userId" th:value="${user.getId()}">
        </label>
        <div th:each="role : ${roles}">
            <label>
                <input th:type="checkbox" th:name="${role}" th:text="${role.name()}" th:checked="${user.getRole().contains(role)} ? 'checked'">
            </label>
        </div>
        <button type="submit">Save</button>
    </form>
</th:block>
</html>
